apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail-sender
  namespace: prd-cm
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mail-sender
  template:
    metadata:
      labels:
        app: mail-sender
    spec:
      containers:
        - name: mail-sender
          image: ghcr.io/kirapixel/cm-mail-sender:20251205192207
          envFrom:
            - secretRef:
                name: flask-cm-spectr-secret
